header {
    width: 100%;
    padding: 20px;
    color: white;
}

a.navbar-brand, a.navbar-brand:visited {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

label.required:after {
    content: " *";
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    min-height: 50px;
    padding: 20px;
    color: white;
}

#news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#ver-mas {
    margin-top: 20px;
}

.card {
    margin: 10px;
    padding: 0;
    width: 350px;
}

.content {
    display: flex;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}