{% extends 'layout.html.twig' %}

{% block title %}Suscripción Exitosa{% endblock %}

{% block main %}
    <div class="content">
        <div class="card text-bg-success col-md-6 col-sm-8 col-xs-12">
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="{{ path('app_news') }}">Volver a Noticias</a>
            </div>
        </div>
    </div>
{% endblock %}