{% extends 'layout.html.twig' %}

{% block title %}Noticias Inteligencia Artificial{% endblock %}

{% block main %}
    <div class="d-grid gap-2">
        <a class="btn btn-success" href="{{ path('app_suscripcion') }}">Suscríbete!</a>
    </div>
    <div id="news-list" class="row" data-token="{{ API_NEWS_TOKEN }}">
        <div class="loading">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <button id="ver-mas" class="btn btn-primary" hidden>Más Noticias</button>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/news.js') }}"></script>
{% endblock %}
