<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Grupo 2 - NewsApp{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/news.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
