{% extends 'base.html.twig' %}

{% block body %}
    <header class="navbar bg-primary navbar-expand-lg">
        <nav class="container">
            <a class="navbar-brand" href="{{ path('app_news') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
                Grupo 2 - News App
            </a>
        </nav>
    </header>

    <main class="container">
        <h1>{{ block('title') }}</h1>
            {% block main %}
            {% endblock %}
    </main>

    <footer class="bg-primary">
        <div>Grupo 2 - Trabajo Final</div>
        <div>Taller de análisis de debilidades de código según MITRE ATT&CK</div>
        <div>Diplomado Desarrollo Seguro de Software - PUC</div>
    </footer>
{% endblock %}